{% extends "base.html" %}
{% block content %}
<div class="row">
    <form class="col s12 card blue-grey lighten-1">
      <div class="row">
        <h3 class="center-align white-text">Sign Up</h3>
        <div class="input-field col s6">
          <input id="username" type="text" class="validate white-text">
          <label for="username" class="white-text">UserName</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password" class="white-text">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large orange accent-3">
                Sign Up 
            </button>
        </div>
    </div>
    </form>
</div>
{% endblock %}