{% extends "base.html" %}
{% block content %}
<div class="row">
  <form action="{{ url_for('signup') }}" method="POST" class="col s12 card blue-grey lighten-1">
      <div class="row">
        <h3 class="center-align white-text">Sign Up</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="input-field col s6">
          <input id="username" name="username" type="text" class="validate white-text">
          <label for="username" class="white-text">UserName</label>
        </div>
        <div class="input-field col s6">
          <input id="password" name="password" type="password" class="validate">
          <label for="password" class="white-text">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large orange accent-3">
                Sign Up 
            </button>
        </div>
    </div>
    </form>
</div>
{% endblock %}