{% extends "base.html" %}
{% block content %}

<h3 class="center-align">My Wishlist</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_book') }}" class="btn-large orange accent-3">
            Add Book <i class="large material-icons">add</i>
        </a>
    </div>
</div>
<div class="row">
    {% for book in books %}
    <div class="col s12 m6 l3">
        <div class="card blue-grey lighten-1 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ book.book_title }}</span>
                <p>{{ book.book_author }}</p>
                <p>{{ book.book_genre }}</p>
                <a href="{{ book.book_link }}" target="_blank" class="white-text">Link to Book</a>
                <p>{{ "Read" if book.has_read else "Unread" }}</p>
            </div>
            <div class="card-action">
                <a href="#" class="btn orange accent-3">Edit</a>
                <a href="#" class="btn orange accent-3">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

        
{% endblock %}