body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/bookbg.webp); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    flex: 1 0 auto;
}

/* Flash message styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* wishlist card styles */
.wishlist-cards .card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFF;
}

.wishlist-cards .card-content {
    height: 220px;
    overflow: auto;
}

.nav-wrapper ul.right li a {
    letter-spacing: 0; /* Override the letter-spacing property */
}

.input-field input[type=text] {
    color: white;
}

  


      